<div class="container fadein">

    <div class="rows spacing">
        <h1>Your selections</h1>
    </div>

    <hr>

    <div class="row spacing">
        <h3>Previous plan</h3>

        <p>{{previousPlan}}</p>
    </div>
    <div class="row spacing">
        <h3>New plan</h3>

        <p>{{newPlan}}</p>
    </div>


    <div class="row spacing">
        <div class="col-xs-12 buttons-container button-spacing">
            <div class="button-box">
                <button class="btn btn-primary" [routerLink]="['/retail/queue']">Confirm</button>
            </div>
        </div>
    </div>
</div>
