<div class="container fadein">
	<p-growl [value]="msgs"></p-growl>
	<div class="row m-t-xxl spacing">
		<h1 class="center spacing">Let's find out who you are.</h1>
		<form #form="ngForm" (ngSubmit)="signIn(form.value)">
			<fieldset>
				<legend>Sign In</legend>
				<div class="form-group">
					<label class="vhide">Email</label>
					<input name="email" type="email" class="form-control" placeholder="Enter email address" ngModel required>
				</div>
				<div class="form-group">
					<label class="vhide">Password</label>
					<input name="password" type="password" class="form-control" placeholder="Enter password" ngModel required minlength="6">
				</div>
				<button class="signin">Sign in</button>
			</fieldset>

		</form>
	</div>

	<div class="row spacing">
		<div class="row center scan">
			<button class="btn btn-secondary" [routerLink]="['/identify/scan']">Scan</button>
		</div>
	</div>
</div>