<div class="container fadein">

    <div class="row m-t-xxl">
        <h1 class="center">Let's find out who you are.</h1>
        <form action="#">
            <fieldset>

                <legend>Sign In</legend>

                <label for="email" class="vhide">Email</label>
                <input id="email" name="email" type="email" placeholder="jane.doe@email.com" required minlength="2" [(ngModel)]="email">

                <!--<label for="username" class="vhide">Name</label>
                <input id="username" name="username" type="text" placeholder="John Smith" required minlength="2">-->

                <!--<label for="password" class="vhide">Phone Number</label>
                <input class="form-control" id="password" name="password" type="text" placeholder="333-444-6789" required minlength="6">-->

                <label for="password" class="vhide">Password</label>
                <input id="password" name="password" type="text" placeholder="*******" required minlength="6" [(ngModel)]="password">

                <input type="checkbox" name="remember" id="remember" class="vhide">
                <label for="remember">
                    <i class="octicon octicon-check"></i> Allow SMS Notifications
                </label>

                <button  class="signin" (click)="signIn()">Sign in</button>
            </fieldset>

        </form>
    </div>

    <div class="row">
        <div class="row center scan">
            <button class="btn btn-primary" [routerLink]="['/identify/scan']">Scan</button>
            <br>
            <br>
            <h3>Device</h3>
        </div>
    </div>
</div>