<p-dialog header="Help" [(visible)]="display" [draggable]="false" [responsive]="true" [resizable]="false" [width]="600" modal="modal" showEffect="fade">

    <div class="form-group">
        <label for="exampleTextarea">So we can assist you better,
            please tell us a bit more about your reason for visiting:</label>
        <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="reason"></textarea>
    </div>

    <footer>
        <div class="col-xs-12 buttons-container button-spacing">
            <div class="button-box">
                <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            </div>

            <div class="button-box">
                <button class="btn btn-secondary disabled" disabled>Transfer</button>
            </div>
        </div>
    </footer>
</p-dialog>

