<p-dialog header="Connecting" [(visible)]="display" [draggable]="false" [responsive]="true" [resizable]="false" [width]="600" modal="modal" showEffect="fade">

    <h3 class="spacing">Calling {{name}}...</h3>

    <div class="center spacing">
        <span class='pulse-button'><i class="fa fa-phone fa-3x text-success"></i></span>
    </div>

    <footer>
        <div class="col-xs-12 buttons-container button-spacing">
            <div class="button-box">
                <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
            </div>

            <div class="button-box">
                <button class="btn btn-secondary disabled" disabled>Transfer</button>
            </div>
        </div>
    </footer>
</p-dialog>

