<form>
    <div class="row">
        <div class="col-xs-9 m-t-lg">
            <label class="form-label">
						<span class="co-radio">
							<input checked="" name="co-radio_sample" type="radio">
							<span class="radio"></span>
						</span>
                <p class="option-description">Shop for a device</p>
            </label>
        </div>
        <div class="col-xs-9 m-t-md">
            <label class="form-label">
						<span class="co-radio">
							<input name="co-radio_sample" type="radio">
							<span class="radio"></span>
						</span>
                <p class="option-description">Bring your own device</p>
            </label>
        </div>
    </div>
</form>
