<p-growl [value]="msgs"></p-growl>

<div class="container margin-top">

    <div id="confirmation"><!-- confirmation -->

        <div class="page-title gray-bg">
            <div class="container">
                <h2 class="m-t-xl m-b-xl center">About your plan:</h2>
            </div>
        </div>

        <hr class="divider m-t-xl">

        <div class="container">
            <div class="row">
                <about-plan></about-plan>
            </div>

            <div class="row">
                <update-plan></update-plan>
            </div>
        </div>



    </div>

</div>
