<p-growl [value]="msgs"></p-growl>
<fireworks [hidden]="hideCanvas"></fireworks>

<div class="container margin-top fadein">

    <div id="confirmation"><!-- confirmation -->

        <div class="page-title gray-bg">
            <div class="container">
                <h1 class="m-t-xl m-b-xl"><a (click)="toggleCanvas()">Welcome!</a> What can we help you with today?</h1>
            </div>
        </div>

        <hr class="divider m-t-xl">

        <div class="row">
            <div class="col-xs-12 buttons-container button-spacing-legal text-center">
                <button *ngFor="let option of options" class="btn btn-secondary blade-button" [class.disabled]="option.disabled" (click)="selectOption(option)">{{option.description}}</button>
                <button class="btn btn-secondary blade-button" (click)="onClickOther()">Other...</button>
            </div>
        </div>

    </div>

</div>


