<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Auction Date</th>
            <td>02/28/2014</td>
            <th scope="row">House NLP:</th>
        </tr>
        <tr>
            <th scope="row">Issue Date</th>
            <td>02/28/201</td>
            <th scope="row"><a>Enter</a></th>
        </tr>
        <tr>
            <th scope="row">Maturity Date</th>
            <td>02/29/2014</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Submitter Name</th>
            <td>ABC Bank</td>
        </tr>
        <tr>
            <th scope="row">Contact Name</th>
            <td>Joe Smith</td>
        </tr>
        <tr>
            <th scope="row">Contact Phone</th>
            <td>001 (212) 123-4567</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
        </tr>
        <tr>
            <th scope="row">Bin:</th>
        </tr>
        <tr>
            <td><a>Delivery Instructions</a></td>
        </tr>
        </tbody>
    </table>
</div>
