<p-growl [value]="msgs"></p-growl>
<div class="row spacing">
	<div class="col-xs-12 center">
		<div>
			<h2 class="price-text n1 fadein">{{funds | currency:'USD':true}}</h2>
			<button [hidden]="addingFunds" class="btn btn-primary" (click)="addFunds()">Add funds</button>
		</div>
	</div>
</div>
<div class="col-xs-12 fadein" [hidden]="!addingFunds || processingPayment">
	<div class="card">
		<div class="row center spacing">
			<div class="col-xs-6 center">
				<h4 class="card-title" *ngIf="!cashOption">Pay with credit card</h4>
				<h4 class="card-title" *ngIf="cashOption">Deposit Cash</h4>
			</div>
			<div class="col-xs-6 center">
				<button class="btn btn-outline-warning active" *ngIf="!cashOption" (click)="chooseCash()">Cash</button>
				<button class="btn btn-outline-warning active" *ngIf="cashOption" (click)="chooseCard()">Card</button>
			</div>
		</div>
		<form #paymentForm="ngForm" (ngSubmit)="processPayment(paymentForm.value)">
			<div class="form-group">
				<label class="vhide">Payment Amount</label>
				<input name="payment" type="number" min="0.05" step="0.05" max="30" class="form-control" placeholder="Minimum Amount $0.05"
					ngModel required>
			</div>
			<div class="row center spacing">
				<div class="col-xs-6 center">
					<button class="btn btn-secondary btn-sm">Process Payment</button>
				</div>
				<div class="col-xs-6 center">
					<button type="button"  class="btn btn-primary" (click)="stopAdding()">Cancel</button>
				</div>
			</div>
		</form>
	</div>

</div>
<div class="col-xs-12 center fadein" [hidden]="!processingPayment">
	<h5>Processing your payment...</h5>
	<loading-indicator></loading-indicator>
</div>