<div class="container margin-top">
    <div class="row spacing">
        <div class="col-xs-12 center">
            <h2>Current Funds</h2>
        </div>
    </div>

    <div class="row spacing">
        <div class="col-xs-12 center">
            <h2 class="price-text n1"><sup class="n2">$</sup>831<sup class="n2">38</sup></h2>
        </div>
    </div>

    <div class="row spacing">
        <div class="col-xs-12 center">
            <h2>Insert cash or credit card</h2>
        </div>
    </div>

    <div class="row spacing">
        <div class="col-xs-12 buttons-container-vertical button-spacing">
            <div class="button-box">
                <button class="btn btn-primary">Done</button>
            </div>
        </div>
    </div>
</div>
