<div class="container margin-top fadein">
    <div class="row spacing">
        <div class="col-xs-12 center">
            <h2>Current Funds</h2>
        </div>
    </div>

    <funds #funds (loaded)="fundsLoaded($event)"></funds>

    <div class="row spacing">
        <div class="col-xs-12 buttons-container button-spacing">
            <div class="button-box">
                <button class="btn btn-secondary" (click)="callHelp()">Help</button>
            </div>
            <div class="button-box">
                <button class="btn btn-primary" [class.disabled]="!loaded" [disabled]="!loaded" [routerLink]="['/add-funds/confirmation']">Done</button>
            </div>
        </div>
    </div>
</div>

<help #help></help>
