button.btn.btn-primary {
  width: 50%;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.funds-title {
  text-align: center;
}

h2.price-text.n1 {
  font-weight: 500;
  font-size: 80px;
}
